# Delta Live Tables

In [0]:
%sql
CREATE CATALOG IF NOT EXISTS catalog_c1;
CREATE SCHEMA IF NOT EXISTS catalog_c1.schema_s1;

In [0]:
%sql
CREATE TABLE IF NOT EXISTS catalog_c1.schema_s1.external_customertable(
  Id INT,
  NAME STRING,
  Email STRING,
  Salary DOUBLE,
  Age INT
) 
USING DELTA 
LOCATION 'abfss://storagedelta@storageforlivetables.dfs.core.windows.net/raw_customer/'

In [0]:
%sql
-- Insert the data into table
INSERT INTO catalog_c1.schema_s1.external_customertable VALUES (97, 'John', 'Doejohn@ou.com',13432.2,28),
(67, 'ne Smith','ne@ou.com',12345.6,22),
(87,'qeall','qell@sk.in',21990.9,32),
(80, 'John wii', 'wii@ou.com',13432.2,28),
(77, 'jh Smith','jh@ou.com',12345.6,23),
(96,'wall','wall@sk.in',21990.9,23),
(81, 'John wiii','asi@jj.in',9880.9,19),
(1, 'John', 'Doejohn@ou.com', 13432.2, 28),
(2, 'Jane', 'jane@ou.com', 14500.5, 30),
(3, 'Sam', 'sam@sk.in', 9800.7, 25),
(4, 'Alice', 'alice@jj.in', 11230.9, 27),
(5, 'Bob', 'bob@ou.com', 12500.6, 24),
(6, 'ne Smith', 'ne@ou.com', 12345.6, 22),
(7, 'jh Smith', 'jh@ou.com', 12345.6, 23),
(8, 'qeall', 'qell@sk.in', 21990.9, 32),
(9, 'wall', 'wall@sk.in', 21990.9, 23),
(10, 'John wii', 'wii@ou.com', 13432.2, 28),
(11, 'John wiii', 'asi@jj.in', 9880.9, 19),
(12, 'Emily', 'emily@jj.in', 13100.4, 29),
(13, 'Michael', 'michael@ou.com', 12000.8, 31),
(14, 'Sarah', 'sarah@sk.in', 11050.3, 26),
(15, 'David', 'david@jj.in', 11500.7, 28),
(16, 'Anna', 'anna@ou.com', 14200.9, 27),
(17, 'Chris', 'chris@sk.in', 12950.6, 30),
(18, 'Katie', 'katie@jj.in', 10200.5, 25),
(19, 'James', 'james@ou.com', 13800.2, 29),
(20, 'Olivia', 'olivia@sk.in', 15000.8, 24),
(21, 'Liam', 'liam@jj.in', 14650.9, 32),
(22, 'Sophia', 'sophia@ou.com', 14000.5, 31),
(23, 'Noah', 'noah@sk.in', 11800.7, 27),
(24, 'Mia', 'mia@jj.in', 10950.6, 26),
(25, 'Isabella', 'isabella@ou.com', 13500.4, 29),
(26, 'Aiden', 'aiden@sk.in', 12100.2, 30),
(27, 'Lucas', 'lucas@jj.in', 12700.8, 25),
(28, 'Amelia', 'amelia@ou.com', 11300.5, 28),
(29, 'Zoe', 'zoe@sk.in', 13900.9, 31),
(30, 'Jackson', 'jackson@jj.in', 12250.6, 24),
(31, 'Harper', 'harper@ou.com', 11600.7, 32),
(32, 'Grayson', 'grayson@sk.in', 12400.8, 27),
(33, 'Ella', 'ella@jj.in', 14350.9, 26),
(34, 'Madison', 'madison@ou.com', 11700.5, 30),
(35, 'Ethan', 'ethan@sk.in', 13000.6, 29),
(36, 'Avery', 'avery@jj.in', 14850.2, 25),
(37, 'Oliver', 'oliver@ou.com', 12600.3, 28),
(38, 'Charlotte', 'charlotte@sk.in', 13200.4, 31),
(39, 'Henry', 'henry@jj.in', 14450.6, 27),
(40, 'Abigail', 'abigail@ou.com', 14100.7, 29),
(41, 'Sebastian', 'sebastian@sk.in', 13300.8, 26),
(42, 'Emily', 'emily@jj.in', 11000.9, 32),
(43, 'Daniel', 'daniel@ou.com', 11900.5, 24),
(44, 'Samantha', 'samantha@sk.in', 13750.6, 27),
(45, 'Nathan', 'nathan@jj.in', 14900.2, 30);

In [0]:
%sql
select * from catalog_c1.schema_s1.external_customertable